PARAM_ENDPOINT=<< set endpoint. RPC url. exp) testnet Fantom neetwork : https://rpc.testnet.fantom.network/>>
PARAM_ENDPOINT_CHAINID=<< Set endpoint chian id. exp) testnet Fantom neetwork : 4002 >>
PARAM_DEPLOY_PRIVATE_KEY=<< Enter the private key of the account to deploy. >>
